<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wedo">
    <!-- 인터넷에 관련된 권한들 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <application
        android:name=".Login.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_wedo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_wedo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeDo">

        <service android:name=".Chating.notifications.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".Drop.DropOut"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chating.Picture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chating.InviteesChating"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityInfo.ActivityInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchFilter.UserSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Group.NickChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Group.MainCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.KakaoSetNickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.GmailSetNickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LookingFor.LookingForPass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule.Loading"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LookingFor.LookingFor_ID"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".Register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chating.ChatCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>